@{
    ViewData["Title"] = "Admin - Năng suất";
    var dataNangSuat = ViewBag.DataNangSuat as Dictionary<int, WebCongViec_v2.Services.DataNangSuat>;

    List<string> uniqueDates = new List<string>();
    if (dataNangSuat != null && dataNangSuat.Any())
    {
        var firstPersonData = dataNangSuat.Values.FirstOrDefault();
        if (firstPersonData != null && firstPersonData.data.Any())
        {
            var firstTaskData = firstPersonData.data.Values.FirstOrDefault();
            if (firstTaskData != null)
            {
                uniqueDates = firstTaskData.Keys.OrderBy(dateStr => DateTime.ParseExact(dateStr, "dd-MM-yyyy", null)).ToList();
            }
        }
    }
}
<style>
     tr, th, td{
        border: 1px solid #d7d7d7;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }
    .tableTrang{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

</style>

<div class="position-relative" style="background: white; height: 100%; overflow: auto;">
    <form method="post" style="z-index: 99999; display: flex; position: fixed; right: 10px; bottom: 10px">
        <input type="date" value="@ViewBag.TuNgay" name="tuNgay" />
        &nbsp;&nbsp;
        <input type="date" value="@ViewBag.DenNgay" name="denNgay" />
        &nbsp;&nbsp;
        <button type="submit" name="action" value="filter" class="btn btn-primary">Xem</button>
        &nbsp;&nbsp;
        <button type="submit" name="action" value="export" class="btn btn-success">📥</button>

        <textarea name="dataExport" style="position: fixed; top: -9999px; left-9999px; opacity: 0%">
            <table class="" style="font-family: 'Times New Roman'; border: 1px solid gray" border="1">
                <thead class="d-none">
                    <tr>
                        <td style="min-width: 50px;  border: 1px solid gray" rowspan="2">Id</td>
                        <td style="min-width: 200px;  border: 1px solid gray; background-color: lightyellow" rowspan="2">Họ Tên</td>
                        <td style="min-width: 50px;  border: 1px solid gray" rowspan="2">CV</td>
                        @using System.Globalization
                        @foreach (var date in uniqueDates)
                        {
                            DateTime date2 = DateTime.ParseExact(date, "dd-MM-yyyy", CultureInfo.InvariantCulture);
        
                            CultureInfo culture = new CultureInfo("vi-VN");
                            string cultureName = culture.DateTimeFormat.GetDayName(date2.DayOfWeek);
                            <td style="min-width: 100px; border: 1px solid gray; text-align: center;  background-color: lightblue" colspan="2">@date</td>
                            <td style="min-width: 100px;  border: 1px solid gray;text-align: center;  background-color: lightyellow" class="dayOfWeek" colspan="2">@cultureName</td>
                            <td class="tableTrang"></td>
                        }

                    </tr>
                    <tr>
                        @foreach (var date in uniqueDates)
                        {
                            <td style=" border: 1px solid gray;min-width: 100px">Thời gian</td>
                            <td style=" border: 1px solid gray;min-width: 100px">Loại</td>
                            <td style=" border: 1px solid gray;min-width: 200px">Nội dung</td>
                            <td style=" border: 1px solid gray;min-width: 100px">Khối lượng</td>
                            <td class="tableTrang"></td>

                        }
                    </tr>
                </thead>
                <tbody>
                    @if (dataNangSuat != null)
                    {
                        @foreach (var nhanSuEntry in dataNangSuat.OrderBy(ns => ns.Key)) // Order by NhanSu Id for consistent display
                        {
                            var idNhanSu = nhanSuEntry.Key;
                            var nhanSuData = nhanSuEntry.Value;
                            var listCongViec = nhanSuData.data;

                            int rowSpanForNhanSu = listCongViec.Count;
                            bool isFirstCongViecForNhanSu = true;

                            @foreach (var congViecEntry in listCongViec.OrderBy(cv => cv.Key)) // Order by CongViec name
                            {
                                var tenCongViec = congViecEntry.Key;
                                var chamCongByDate = congViecEntry.Value;

                                <tr>
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td class="d-none" style=" border: 1px solid gray;vertical-align: middle; text-align: center; min-width: 50px" rowspan="@rowSpanForNhanSu">@idNhanSu</td>
                                        <td class="d-none" style=" border: 1px solid gray;vertical-align: middle; text-align: center;  min-width: 200px;" rowspan="@rowSpanForNhanSu">@nhanSuData.name</td>
                                    }
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td class="d-none" style=" border: 1px solid gray;min-width: 50px; background-color: lightcyan">@tenCongViec</td>
                                    }
                                    else
                                    {
                                        <td class="d-none" style=" border: 1px solid gray;min-width: 50px">@tenCongViec</td>

                                    }
                                    @foreach (var date in uniqueDates)
                                    {
                                        var chamcongsForDate = chamCongByDate.GetValueOrDefault(date, new List<Chamcong>());

                                        if (chamcongsForDate.Any())
                                        {
                                            var firstChamcong = chamcongsForDate.First();
                                            if (isFirstCongViecForNhanSu)
                                            {
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.ThoiGian</td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.IdLoaiCongViecNavigation?.ValueLoaiCongViec</td>
                                                <td style=" border: 1px solid gray;min-width: 200px; height: 50px; background-color: lightcyan">@firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec</td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.KhoiLuong</td>
                                                <td class="tableTrang"></td>
                                            }
                                            else
                                            {
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px">@firstChamcong.ThoiGian</td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px">@firstChamcong.IdLoaiCongViecNavigation?.ValueLoaiCongViec</td>
                                                <td style=" border: 1px solid gray;min-width: 200px; height: 50px">@firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec</td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px">@firstChamcong.KhoiLuong</td>
                                                <td class="tableTrang"></td>
                                            }

                                        }
                                        else
                                        {
                                            if (isFirstCongViecForNhanSu)
                                            {
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td style=" border: 1px solid gray;min-width: 200px; height: 50px; background-color: lightcyan"></td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td class="tableTrang"></td>
                                            }
                                            else
                                            {
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px"></td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px"></td>
                                                <td style=" border: 1px solid gray;min-width: 200px; height: 50px"></td>
                                                <td style=" border: 1px solid gray;min-width: 100px; height: 50px"></td>
                                                <td class="tableTrang"></td>
                                            }

                                        }
                                    }
                                </tr>
                                isFirstCongViecForNhanSu = false;

                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td style=" border: 1px solid gray" colspan="@(3 + uniqueDates.Count * 4)">No productivity data available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </textarea>
    </form>
    <table class="m-0" style="position: sticky; top: 0px;  left: 0px; z-index: 1000; background: white" >
        <thead>
            <tr style="">
                <td style="min-width: 50px;border-bottom: 0px;" rowspan="2">Id</td>
                <td style="min-width: 200px;border-bottom: 0px;font-weight: bold; background-color: lightyellow" rowspan="2">Họ Tên</td>
                <td style="min-width: 50px;border-bottom: 0px;" rowspan="1">📆</td>
            </tr>
            <tr>
                <td style="min-width: 50px;border-bottom: 0px;" rowspan="1">🛠</td>

            </tr>
        </thead>
    </table>
    <div style="width: fit-content; position: absolute; top: 0px; left: 0px">

        <table class="m-0" style="position: sticky; top:0px; background: white" >
            <thead>
                <tr>
                    <td style="min-width: 50px" rowspan="2">Id</td>
                    <td style="min-width: 200px; font-weight: bold; background-color: lightyellow" rowspan="2">Họ Tên</td>
                    <td style="min-width: 51px" rowspan="2">CV</td>
                    @foreach (var date in uniqueDates)
                    {
                        <td style="min-width: 100px; text-align: center;font-weight: bold;  background-color: lightblue" colspan="2">@date.Replace("-","|")</td>
                        <td style="min-width: 100px; text-align: center;font-weight: bold;  background-color: lightyellow" class="dayOfWeek" colspan="2">@date</td>
                        <td class="tableTrang"></td>
                    }

                </tr>
                <tr>
                    @foreach (var date in uniqueDates)
                    {
                        <td style="min-width: 100px">Thời gian</td>
                        <td style="min-width: 100px">Loại</td>
                        <td style="min-width: 200px">Nội dung</td>
                        <td style="min-width: 100px">Khối lượng</td>
                        <td class="tableTrang"></td>

                    }
                </tr>
            </thead>
        </table>

        <div style="display: flex; width: fit-content">
            <table class="table-showo m-0" style="position: sticky; left: 0px; background: white">
                <tbody>
                    @if (dataNangSuat != null)
                    {
                        @foreach (var nhanSuEntry in dataNangSuat.OrderBy(ns => ns.Key)) // Order by NhanSu Id for consistent display
                        {
                            var idNhanSu = nhanSuEntry.Key;
                            var nhanSuData = nhanSuEntry.Value;
                            var listCongViec = nhanSuData.data;

                            int rowSpanForNhanSu = listCongViec.Count;
                            bool isFirstCongViecForNhanSu = true;

                            @foreach (var congViecEntry in listCongViec.OrderBy(cv => cv.Key)) // Order by CongViec name
                            {
                                var tenCongViec = congViecEntry.Key;
                                var chamCongByDate = congViecEntry.Value;

                                <tr>
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td style="vertical-align: middle; text-align: center; min-width: 50px" rowspan="@rowSpanForNhanSu">@idNhanSu</td>
                                        <td style="vertical-align: middle;font-weight: bold; text-align: center; min-width: 200px;" rowspan="@rowSpanForNhanSu">
                                            @{
                                                string displayedName = nhanSuData.name;
                                                if (displayedName != null && displayedName.Length > 20)
                                                {
                                                    displayedName = displayedName.Replace(" ", "<br/>");
                                                }
                                            }
                                            @Html.Raw(displayedName)
                                        </td>
                                        @* <td style="vertical-align: middle;font-weight: bold; text-align: center;  min-width: 200px;" rowspan="@rowSpanForNhanSu">@nhanSuData.name</td> *@
                                        <td style="min-width: 50px; background-color: lightcyan">@tenCongViec</td>

                                    }
                                    else
                                    {
                                        <td style="min-width: 50px">@tenCongViec</td>
                                    }
                                </tr>
                                isFirstCongViecForNhanSu = false;
                            }
                        }
                    }
                </tbody>
            </table>


            <table class="" id="myTable">
                <thead class="d-none">
                    <tr>
                        <td style="min-width: 50px" rowspan="2">Id</td>
                        <td style="min-width: 200px; background-color: lightyellow" rowspan="2">Họ Tên</td>
                        <td style="min-width: 50px" rowspan="2">CV</td>
                        @foreach (var date in uniqueDates)
                        {
                            <td style="min-width: 100px; text-align: center;  background-color: lightblue" colspan="2">@date.Replace("-","|")</td>
                            <td style="min-width: 100px; text-align: center;  background-color: lightyellow" class="dayOfWeek" colspan="2">@date</td>
                            <td class="tableTrang"></td>
                        }

                    </tr>
                    <tr>
                        @foreach (var date in uniqueDates)
                        {
                            <td style="min-width: 100px">Thời gian</td>
                            <td style="min-width: 100px">Loại</td>
                            <td style="min-width: 200px">Nội dung</td>
                            <td style="min-width: 100px">Khối lượng</td>
                            <td class="tableTrang"></td>

                        }
                    </tr>
                </thead>
                <tbody>
                    @if (dataNangSuat != null)
                    {
                        @foreach (var nhanSuEntry in dataNangSuat.OrderBy(ns => ns.Key)) // Order by NhanSu Id for consistent display
                        {
                            var idNhanSu = nhanSuEntry.Key;
                            var nhanSuData = nhanSuEntry.Value;
                            var listCongViec = nhanSuData.data;

                            int rowSpanForNhanSu = listCongViec.Count;
                            bool isFirstCongViecForNhanSu = true;

                            @foreach (var congViecEntry in listCongViec.OrderBy(cv => cv.Key)) // Order by CongViec name
                            {
                                var tenCongViec = congViecEntry.Key;
                                var chamCongByDate = congViecEntry.Value;

                                <tr>
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td class="d-none" style="vertical-align: middle; text-align: center; min-width: 50px" rowspan="@rowSpanForNhanSu">@idNhanSu</td>
                                        <td class="d-none" style="vertical-align: middle; text-align: center;  min-width: 200px;" rowspan="@rowSpanForNhanSu">@nhanSuData.name</td>
                                    }
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td class="d-none" style="min-width: 50px; background-color: lightcyan">@tenCongViec</td>
                                    }
                                    else
                                    {
                                        <td class="d-none" style="min-width: 50px">@tenCongViec</td>

                                    }
                                    @foreach (var date in uniqueDates)
                                    {
                                        var chamcongsForDate = chamCongByDate.GetValueOrDefault(date, new List<Chamcong>());

                                        if (chamcongsForDate.Any())
                                        {
                                            var firstChamcong = chamcongsForDate.First();
                                            if (isFirstCongViecForNhanSu)
                                            {
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.ThoiGian</td>
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.IdLoaiCongViecNavigation?.ValueLoaiCongViec</td>
                                                @* <td style="min-width: 200px; height: 50px; background-color: lightcyan">@firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec</td> *@
                                                <td style="min-width: 200px; height: 50px; background-color: lightcyan">
                                                        @{
                                                            var ValueNoiDungCongViec1 = firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec;
                                                            if (ValueNoiDungCongViec1 != null && ValueNoiDungCongViec1.Length > 23)
                                                            {
                                                                ValueNoiDungCongViec1 = ValueNoiDungCongViec1.Substring(0, 23) + "...";
                                                            }
                                                        }
                                                        @ValueNoiDungCongViec1
                                                </td>
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan">@firstChamcong.KhoiLuong</td>
                                                <td class="tableTrang"></td>
                                            }
                                            else
                                            {
                                                <td style="min-width: 100px; height: 50px">@firstChamcong.ThoiGian</td>
                                                <td style="min-width: 100px; height: 50px">@firstChamcong.IdLoaiCongViecNavigation?.ValueLoaiCongViec</td>
                                                @* <td style="min-width: 200px; height: 50px">@firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec</td> *@
                                                <td style="min-width: 200px; height: 50px">
                                                        @{
                                                            var ValueNoiDungCongViec2 = firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec;
                                                            if (ValueNoiDungCongViec2 != null && ValueNoiDungCongViec2.Length > 23)
                                                            {
                                                                ValueNoiDungCongViec2 = ValueNoiDungCongViec2.Substring(0, 23) + "...";
                                                            }
                                                        }
                                                        @ValueNoiDungCongViec2
                                                </td>
                                                <td style="min-width: 100px; height: 50px">@firstChamcong.KhoiLuong</td>
                                                <td class="tableTrang"></td>
                                            }

                                        }
                                        else
                                        {
                                            if (isFirstCongViecForNhanSu)
                                            {
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td style="min-width: 200px; height: 50px; background-color: lightcyan"></td>
                                                <td style="min-width: 100px; height: 50px; background-color: lightcyan"></td>
                                                <td class="tableTrang"></td>
                                            }
                                            else
                                            {
                                                <td style="min-width: 100px; height: 50px"></td>
                                                <td style="min-width: 100px; height: 50px"></td>
                                                <td style="min-width: 200px; height: 50px"></td>
                                                <td style="min-width: 100px; height: 50px"></td>
                                                <td class="tableTrang"></td>
                                            }

                                        }
                                    }
                                </tr>
                                isFirstCongViecForNhanSu = false;

                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="@(3 + uniqueDates.Count * 4)">No productivity data available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <script>
      // Mảng tên các thứ trong tuần
      const weekdays = ["Chủ Nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"];

      // Lấy tất cả các thẻ có class 'dayOfWeek'
      const dayElements = document.querySelectorAll(".dayOfWeek");

      // Lặp qua từng thẻ
      dayElements.forEach(td => {
        const dateText = td.innerText.trim();
        const [day, month, year] = dateText.split("-");

        // Tạo đối tượng Date
        const dateObj = new Date(year, month - 1, day);

        // Lấy thứ trong tuần
        const weekdayName = weekdays[dateObj.getDay()];

        // Gán kết quả vào nội dung thẻ
        td.innerText = weekdayName;
      });
    </script>
</div>
