@{
    ViewData["Title"] = "Admin - Năng suất";
    var dataNangSuat = ViewBag.DataNangSuat as Dictionary<int, WebCongViec_v2.Services.DataNangSuat>;

    List<string> uniqueDates = new List<string>();
    if (dataNangSuat != null && dataNangSuat.Any())
    {
        var firstPersonData = dataNangSuat.Values.FirstOrDefault();
        if (firstPersonData != null && firstPersonData.data.Any())
        {
            var firstTaskData = firstPersonData.data.Values.FirstOrDefault();
            if (firstTaskData != null)
            {
                uniqueDates = firstTaskData.Keys.OrderBy(dateStr => DateTime.ParseExact(dateStr, "dd-MM-yyyy", null)).ToList();
            }
        }
    }
}
<style>
     tr, th, td{
        border: 1px solid black;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

</style>


<div class="position-relative" style="background: white; height: 100%; overflow: auto;">

    <table class="m-0" style="position: sticky; top: 0px;  left: 0px; z-index: 1000; background: white" >
        <thead>
            <tr style="">
                <td style="min-width: 100px;border-bottom: 0px;" rowspan="2">Id</td>
                <td style="min-width: 200px;border-bottom: 0px;" rowspan="2">Họ Tên</td>
                <td style="min-width: 50px;border-bottom: 0px;" rowspan="1">📆</td>
            </tr>
            <tr>
                <td style="min-width: 50px;border-bottom: 0px;" rowspan="1">🛠</td>

            </tr>
        </thead>
    </table>
    <div style="width: fit-content; position: absolute; top: 0px; left: 0px">

        <table class="m-0" style="position: sticky; top:0px; background: white" >
            <thead>
                <tr>
                    <td style="min-width: 100px" rowspan="2">Id</td>
                    <td style="min-width: 200px" rowspan="2">Họ Tên</td>
                    <td style="min-width: 51px" rowspan="2">CV</td>
                    @foreach (var date in uniqueDates)
                    {
                        <td style="min-width: 100px; text-align: center" colspan="4">@date</td>
                    }
                </tr>
                <tr>
                    @foreach (var date in uniqueDates)
                    {
                        <td style="min-width: 100px">Thời gian</td>
                        <td style="min-width: 100px">Nội dung</td>
                        <td style="min-width: 100px">Loại</td>
                        <td style="min-width: 100px">Khối lượng</td>
                    }
                </tr>
            </thead>
        </table>

        <div style="display: flex; width: fit-content">
            <table class=" m-0" style="position: sticky; left: 0px; background: white">
                <tbody>
                    @if (dataNangSuat != null)
                    {
                        @foreach (var nhanSuEntry in dataNangSuat.OrderBy(ns => ns.Key)) // Order by NhanSu Id for consistent display
                        {
                            var idNhanSu = nhanSuEntry.Key;
                            var nhanSuData = nhanSuEntry.Value;
                            var listCongViec = nhanSuData.data;

                            int rowSpanForNhanSu = listCongViec.Count;
                            bool isFirstCongViecForNhanSu = true;

                            @foreach (var congViecEntry in listCongViec.OrderBy(cv => cv.Key)) // Order by CongViec name
                            {
                                var tenCongViec = congViecEntry.Key;
                                var chamCongByDate = congViecEntry.Value;

                                <tr>
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td style="vertical-align: middle; text-align: center; min-width: 100px" rowspan="@rowSpanForNhanSu">@idNhanSu</td>
                                        <td style="vertical-align: middle; text-align: center;  min-width: 200px; height: 200px" rowspan="@rowSpanForNhanSu">@nhanSuData.name</td>
                                        isFirstCongViecForNhanSu = false;
                                    }
                                    <td style="min-width: 50px">@tenCongViec</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>


            <table class="" id="myTable">
                <thead class="d-none">
                    <tr>
                        <td style="min-width: 100px" rowspan="2">Id</td>
                        <td style="min-width: 200px" rowspan="2">Họ Tên</td>
                        <td style="min-width: 50px" rowspan="2">CV</td>
                        @foreach (var date in uniqueDates)
                        {
                            <td style="min-width: 100px; text-align: center" colspan="4">@date</td>
                        }
                    </tr>
                    <tr>
                        @foreach (var date in uniqueDates)
                        {
                            <td style="min-width: 100px">Thời gian</td>
                            <td style="min-width: 100px">Nội dung</td>
                            <td style="min-width: 100px">Loại</td>
                            <td style="min-width: 100px">Khối lượng</td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (dataNangSuat != null)
                    {
                        @foreach (var nhanSuEntry in dataNangSuat.OrderBy(ns => ns.Key)) // Order by NhanSu Id for consistent display
                        {
                            var idNhanSu = nhanSuEntry.Key;
                            var nhanSuData = nhanSuEntry.Value;
                            var listCongViec = nhanSuData.data;

                            int rowSpanForNhanSu = listCongViec.Count;
                            bool isFirstCongViecForNhanSu = true;

                            @foreach (var congViecEntry in listCongViec.OrderBy(cv => cv.Key)) // Order by CongViec name
                            {
                                var tenCongViec = congViecEntry.Key;
                                var chamCongByDate = congViecEntry.Value;

                                <tr>
                                    @if (isFirstCongViecForNhanSu)
                                    {
                                        <td class="d-none" style="vertical-align: middle; text-align: center; min-width: 100px" rowspan="@rowSpanForNhanSu">@idNhanSu</td>
                                        <td class="d-none" style="vertical-align: middle; text-align: center;  min-width: 200px;" rowspan="@rowSpanForNhanSu">@nhanSuData.name</td>
                                        isFirstCongViecForNhanSu = false;
                                    }
                                    <td class="d-none" style="min-width: 50px">@tenCongViec</td>
                                    @foreach (var date in uniqueDates)
                                    {
                                        var chamcongsForDate = chamCongByDate.GetValueOrDefault(date, new List<Chamcong>());

                                        if (chamcongsForDate.Any())
                                        {
                                            var firstChamcong = chamcongsForDate.First();
                                            <td style="min-width: 100px; height: 50px">@firstChamcong.ThoiGian</td>
                                            <td style="min-width: 100px; height: 50px">@firstChamcong.IdNoiDungCongViecNavigation?.ValueNoiDungCongViec</td>
                                            <td style="min-width: 100px; height: 50px">@firstChamcong.IdLoaiCongViecNavigation?.ValueLoaiCongViec</td>
                                            <td style="min-width: 100px; height: 50px">@firstChamcong.KhoiLuong</td>
                                        }
                                        else
                                        {
                                            <td style="min-width: 100px; height: 50px"></td>
                                            <td style="min-width: 100px; height: 50px"></td>
                                            <td style="min-width: 100px; height: 50px"></td>
                                            <td style="min-width: 100px; height: 50px"></td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="@(3 + uniqueDates.Count * 4)">No productivity data available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>