@{
    ViewData["Title"] = "Admin - Nhân sự";
}
<style>
    .thongtinnhansu span{
        font-weight: bold;
    }
</style>
<div class="py-2 px-3 position-relative" style="background: white; height: 100%; overflow: auto; ">
    <div>
        <script>
            function displayTableInfo(data, IdNhanSu, HoTenNhanSu) {
                const spans = document.querySelectorAll(`#${data} .thongtinnhansu span`);

                let table = `<td style="border: 1px solid black">${IdNhanSu}</td> <td style="border: 1px solid black">${HoTenNhanSu}</td> `;

                spans.forEach(span => {
                    table += `<td style="border: 1px solid black">${"&nbsp;"+span.innerText}</td>`;
                });

                // Kết thúc dòng và bảng
                table += '';

                document.querySelector(`#_${data}`).innerHTML = table;
            }
        </script>
 
        <form method="post">
            <div  id="tableExport">
                <table style="position: fixed; top: -9999px; left: -9999px; opacity: 0%; font-family: 'Times New Roman'; border: 1px solid black " class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" style="border: 1px solid black">ID </th>
                            <th rowspan="2" style="border: 1px solid black">Họ Tên</th>
                            <th colspan="14" style="border: 1px solid black; text-align: center">Thông tin cá nhân</th>
                        </tr>
                        <tr>
                            <th style="border: 1px solid black">Số điện thoại</th>
                            <th style="border: 1px solid black">Email</th>
                            <th style="border: 1px solid black">Ngày sinh</th>
                            <th style="border: 1px solid black">Mã số thuế theo CCCD</th>
                            <th style="border: 1px solid black">CCCD</th>
                            <th style="border: 1px solid black">Ngày cấp</th>
                            <th style="border: 1px solid black">Nơi cấp</th>
                            <th style="border: 1px solid black">Địa chỉ HKTT</th>
                            <th style="border: 1px solid black">Nơi ở hiện tại</th>
                            <th style="border: 1px solid black">Part sáng</th>
                            <th style="border: 1px solid black">Ngày làm việc đầu tiên</th>
                            <th style="border: 1px solid black">Các dự án đã tham gia tại TDS</th>
                            <th style="border: 1px solid black">Số tài khoản ngân hàng</th>
                            <th style="border: 1px solid black">Ngân hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nhanSu in ViewBag.DSNhanSu)
                        {
                            <tr  id="_tr_@Html.Raw(nhanSu.IdNhanSu)">

                                <td  id="tr_@Html.Raw(nhanSu.IdNhanSu)">
                                    @Html.Raw(nhanSu.ThongTinCaNhan)
                                </td>
                            </tr>
                             
                            <script>
                                displayTableInfo('tr_@Html.Raw(nhanSu.IdNhanSu)', '@Html.Raw(nhanSu.IdNhanSu)', '@Html.Raw(nhanSu.HoTenNhanSu)' )
                            </script>
                        }
                    </tbody>
                </table>
            </div>
            <textarea style="position: fixed; top: -9999px; left:-9999px; opacity: 0%" name="dataExport">
                            
            </textarea>
            <button name="action" value="export" class="btn btn-outline-primary" >Export thông tin 📥</button>
            <script>
                document.querySelector('textarea[name="dataExport"]').value = document.querySelector('#tableExport').innerHTML;
            </script>
            @if (!ViewBag.HideInfo.Equals("false"))
            {
                <a class="btn btn-outline-primary" href="?hideinfo=false">Hiện thông tin cá nhân</a>
            }
            @if (ViewBag.HideInfo.Equals("false"))
            {
                <a class="btn btn-outline-primary" href="?hideinfo=true">Ẩn thông tin cá nhân</a>
            }
        </form>
        <table class="table table-striped table-bordered table-show-list" style="width:100%" id="DataTableJS">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Họ Tên</th>
                    <th>TDS/Thời vụ</th>
                    <th>ML cơ bản 8h</th>
                    <th>ML dự án 8h</th>
                    <th>HS OT thường</th>
                    <th>HS CN</th>
                    @if (ViewBag.HideInfo.Equals("false"))
                    {
                        <th>Thông tin cá nhân</th>
                    }
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nhanSu in ViewBag.DSNhanSu)
                {
                    <tr>
                        <td>@nhanSu.IdNhanSu</td>
                        <td>@nhanSu.HoTenNhanSu <span class="fw-bold">@(ViewBag.Roles[nhanSu.Role].ToString().Equals("") ? "" : " - " + ViewBag.Roles[nhanSu.Role].ToString())</span></td>
                        <td>@nhanSu.FsiThoiVu</td>
                        <td>@nhanSu.MucLuongCoBan8h.ToString("N1")</td>
                        <td>@nhanSu.MucLuongDuAn8h.ToString("N1")</td>
                        <td>@nhanSu.HeSoOtThuong.ToString("N1")</td>
                        <td>@nhanSu.HeSoCn.ToString("N1")</td>
                        @if (ViewBag.HideInfo.Equals("false"))
                        {
                            <td>
                                <div id="tr_@Html.Raw(nhanSu.IdNhanSu)">
                                    @Html.Raw(nhanSu.ThongTinCaNhan)
                                </div>
                            </td>
                         }
                        <td>
                            <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}SuaNhanSu?id=@nhanSu.IdNhanSu">Sửa 📝</a> <text>&nbsp; | &nbsp;</text>
                            @if (@nhanSu.Role == 3)
                            {
                                <a href="?setrole=1&id=@nhanSu.IdNhanSu">Đặt LEADER⭐</a> <text>&nbsp; | &nbsp;</text>
                                <a href="?setrole=2&id=@nhanSu.IdNhanSu">Đặt SUPPORT🔰</a> <text>&nbsp; | &nbsp;</text>
                                <a href="?setrole=4&id=@nhanSu.IdNhanSu">KHÓA🚫</a> <text>&nbsp; | &nbsp;</text>
                            }
                            else
                            {
                                <a href="?setrole=3&id=@nhanSu.IdNhanSu">Bỏ đặt 🚫 &nbsp;</a>
                            }
                           @*  @if (@nhanSu.Status == 0)
                            {
                                <p class="mt-2 text-danger fw-bold"> Cần cập nhật thông tin cá nhân (<a class="text-primary">Không cần</a>)</p>

                            }
                            else if (@nhanSu.Status == 1)
                            {
                                <p class="mt-2 text-success fw-bold"> Không cần nhật thông tin cá nhân (<a class="text-primary">Cần</a>)</p>

                            } *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>    
    </div>
</div>
