@{
}
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chấm công V2</title>
    <link rel="stylesheet" href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}css/table-data.css" asp-append-version="true" />
    <link rel="stylesheet" href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}WebCongViec_v2.styles.css" asp-append-version="true" />
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}js/alert.js"></script>
    <link href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}css/data-table-js.min.css" rel="stylesheet" />
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}js/chart.js"></script>
</head>
<body class="box gradDynamic">
    <div id="isLoadding">
        
    </div>

    <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px">
        <div class="sidebar">
            <div class="menu-btn"><i class="">👈</i></div>
            <div class="head">
                <div class="user-img">
                    <span style="font-size: 31px">🔐</span>
                </div>
                <div class="user-details">
                    <p class="title">CHẤM CÔNG</p>
                    <img src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}tds2.png" style="width: 65px;">
                </div>
            </div>
            <div class="nav">
                <div class="menu">
                   @*  <p class="title">Main</p> *@
                    <ul id="items-menu">
                        <style>
                            #items-menu{
                                height:400px;
                                /* overflow-y: auto; */
                                padding-right: 6px;
                            }

                            #items-menu::-webkit-scrollbar{
                                width: 5px;
                            }
                        
                        </style>
                        <li class="@ViewBag.HomeActive">
                            <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}Home" class="">
                                <span class="sidebar-icon">🏠</span>
                                <span class="text pe-2">Trang chủ</span>
                            </a>
                        </li>

                        <li class="@ViewBag.TraCuu @ViewBag.NangSuat">
                            <a role="button">
                                <span class="sidebar-icon">🧱</span>
                                <span class="text">Năng suất</span><i class="arrow">👇</i>
                            </a>
                            <ul class="sub-menu">
                                <li class="@ViewBag.NangSuat"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}NangSuat"><span class="text">Năng suất</span></a></li>
                                @* <li class="@ViewBag.NangSuat"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}"><span class="text">Năng suất</span></a></li> *@
                                <li class="@ViewBag.TraCuu"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}TraCuu"><span class="text">Tra cứu</span></a></li>
                            </ul>
                        </li>

                        <li class="@ViewBag.ThongKeActive @ViewBag.BCTongHop @ViewBag.DSPhatSinh">
                            <a role="button">
                                <span class="sidebar-icon">📐</span>
                                <span class="text">Thống kê</span><i class="arrow">👇</i>
                            </a>
                            <ul class="sub-menu">
                                <li class="@ViewBag.ThongKeActive">
                                    <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}ThongKe" class="">
                                        <span class="text">Chung</span>
                                    </a>
                                </li>
                                <li class="@ViewBag.BCTongHop">
                                    <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}BCTongHop" class="">
                                        <span class="text">Báo cáo</span>
                                    </a>
                                </li>
                                <li class="@ViewBag.DSPhatSinh">
                                    <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}DSPhatSinh" class="">
                                        <span class="text">Phát sinh</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="@ViewBag.NhanSuActive @ViewBag.ThemNhanSuActive @ViewBag.ThemDanhSachNhanSuSuActive">
                            <a role="button">
                                <span class="sidebar-icon">👩‍👧‍👧</span>
                                <span class="text">Nhân sự</span><i class="arrow">👇</i>
                            </a>
                            <ul class="sub-menu">
                                <li class="@ViewBag.NhanSuActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}NhanSu"><span class="text">Danh sách</span></a></li>
                                <li class="@ViewBag.ThemNhanSuActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}ThemNhanSu"><span class="text">Thêm nhân sự</span></a></li>
                                <li class="@ViewBag.ThemDanhSachNhanSuSuActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}ThemDanhSachNhanSu"><span class="text">Thêm DS nhân sự</span></a></li>
                            </ul>
                        </li>

                        <li class="@ViewBag.NDCVActive @ViewBag.ThemNDCVActive">
                            <a role="button">
                                <span class="sidebar-icon">📚</span>
                                <span class="text">Công việc</span><i class="arrow">👇</i>
                            </a>
                            <ul class="sub-menu">
                                <li class="@ViewBag.NDCVActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}NDCV"><span class="text">Danh sách</span></a></li>
                                <li class="@ViewBag.ThemNDCVActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}ThemNDCV"><span class="text">Thêm ND</span></a></li>
                            </ul>
                        </li>
                        <li class="@ViewBag.CapNhatCongActive @ViewBag.AdminChamCongActive @ViewBag.ThungRacActive">
                            <a role="button">
                                <span class="sidebar-icon">📆</span>
                                <span class="text">Chấm công</span><i class="arrow">👇</i>
                            </a>
                            <ul class="sub-menu">
                                <li class="@ViewBag.CapNhatCongActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}CapNhatCong"><span class="text">Xoá công</span></a></li>
                                <li class="@ViewBag.AdminChamCongActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}AdminChamCong"><span class="text">Chấm bù</span></a></li>
                                <li class="@ViewBag.ThungRacActive"><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}ThungRac"><span class="text">Thùng rác</span></a></li>
                            </ul>
                        </li>

                        <li class="@ViewBag.BangLuong">
                            <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}BangLuong" class="">
                                <span class="sidebar-icon">💰</span>
                                <span class="text">Bảng lương</span>
                            </a>
                        </li>
                        <li class="@ViewBag.TheoDoiCP">

                            <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}TheoDoiCP" class="">
                                <span class="sidebar-icon">📡</span>
                                <span class="text">Theo dõi CP</span>
                            </a>
                        </li>
                        @* <li class="@ViewBag.TraCuu">

                            <a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}TraCuu" class="">
                                <span class="sidebar-icon">🔎</span>
                                <span class="text">Tra cứu</span>
                            </a>
                        </li> *@

                        @* @for(int i = 1; i < 50; i++)
                        {
                            <li class="">
                                <a role="button">
                                    <span class="sidebar-icon">👨‍👨‍👦</span>
                                    <span class="text">Nhân sự</span><i class="arrow">👇</i>
                                </a>
                                <ul class="sub-menu">
                                    <li class=""><a href="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}NhanSu"><span class="text">Danh sách</span></a></li>

                                </ul>
                            </li>
                        } *@
                     
                    </ul>
                </div>
               @*  <div class="menu">
                    <p class="title">Settings</p>
                    <ul>
                        <li><a href="#"><i class="icon ph-bold ph-gear"></i><span class="text">Settings</span></a></li>
                    </ul>
                </div> *@
            </div>
            <div class="menu">
                <p class="title">Phần mềm thi công </p>
                <ul>
                    @* <li><a href="#">🧖‍♂️<span class="text">FAQ</span></a></li> *@
                    @* <a href="@WebCongViec_v2.Services.ProjectService.GetAXEHome()">🚪<span class="text">AXE</span></a> *@
                    <a href="@WebCongViec_v2.Services.ProjectService.GetProjectName()logout?logout=true">🚪<span class="text">Đăng xuất</span></a>
                </ul>
            </div>
        </div>
    </div>
   
    <div id="main-content" style="">
        <main class="bg-main" style="width: 100%; height: 100%; border-radius: 20px; overflow: auto; ">
            @RenderBody()
       </main>
    </div>
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}lib/jquery/dist/jquery.min.js"></script>
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}js/site.js" asp-append-version="true"></script>
    <script src="@{WebCongViec_v2.Services.ProjectService.GetProjectName();}js/data-table-js.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script >
        $(document).ready(function () {

            document.querySelector("#isLoadding").remove();

            let table = new DataTable('#DataTableJS');

            
        })
            
             $('.DataTableJS-ThongKe').DataTable({
                pageLength: 888,  // Thiết lập số lượng bản ghi hiển thị mỗi trang
                lengthMenu: [5, 15, 35, 50, 888],  // Các lựa chọn khác cho số lượng bản ghi mỗi trang
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Lấy số lượng cột
                    var columnCount = api.columns().count();

                    // Duyệt qua từ cột thứ 2 trở đi
                    for (var col = 1; col < columnCount; col++) {
                        // Tính tổng của cột hiện tại
                        var total = api
                            .column(col)
                            .data()
                            .reduce(function (a, b) {
                                return parseFloat(a) + parseFloat(b);
                            }, 0);

                        // Cập nhật tổng vào footer của cột
                        $(api.column(col).footer()).html(total);
                    }
                }
            });

            $('#DataTableJS').DataTable({
                pageLength: 50,  // Thiết lập số lượng bản ghi hiển thị mỗi trang
                lengthMenu: [5, 15, 35, 50, 100],  // Các lựa chọn khác cho số lượng bản ghi mỗi trang
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Lấy số lượng cột
                    var columnCount = api.columns().count();

                    // Duyệt qua từ cột thứ 2 trở đi
                    for (var col = 1; col < columnCount; col++) {
                        // Tính tổng của cột hiện tại
                        var total = api
                            .column(col)
                            .data()
                            .reduce(function (a, b) {
                                return parseFloat(a) + parseFloat(b);
                            }, 0);

                        // Cập nhật tổng vào footer của cột
                        $(api.column(col).footer()).html(total);
                    }
                }
            });


            function confirmToLink(link, mess = 'Bạn có muốn xóa không?') {
                            Swal.fire({
                                title: `${mess}`,
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Vâng, đúng rồi!"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = link;
                                }
                                    });
                                }
       
    </script>
    
</body>
</html>





